/* light mode */
:root { 
    --token-red-100: #ffeaf4;
    --token-red-200: #ffd5ea;
    --token-red-300: #ffb2d2;
    --token-red-400: #ff8cb2;
    --token-red-500: #ee3939;
    --token-red-600: #d20a0a;
    --token-red-700: #aa0808;
    --token-red-800: #840606;
    --token-red-900: #5a0404;
    --token-orange-100: #fef7f1;
    --token-orange-200: #ffe3c7;
    --token-orange-300: #ffc890;
    --token-orange-400: #f7ab5e;
    --token-orange-500: #f58b2e;
    --token-orange-600: #e9730c;
    --token-orange-700: #b34b0f;
    --token-orange-800: #792d06;
    --token-orange-900: #421b07;
    --token-yellow-100: #fff8d6;
    --token-yellow-200: #fff3b8;
    --token-yellow-300: #ffdf72;
    --token-yellow-400: #ffc933;
    --token-yellow-500: #e76500;
    --token-yellow-600: #c35500;
    --token-yellow-700: #a93e00;
    --token-yellow-800: #8d2a00;
    --token-yellow-900: #6d1900;
    --token-lime-100: #f5fad1;
    --token-lime-200: #ecf49f;
    --token-lime-300: #d4e45f;
    --token-lime-400: #b4ce35;
    --token-lime-500: #99bb1b;
    --token-lime-600: #7ca10c;
    --token-lime-700: #617e10;
    --token-lime-800: #42590d;
    --token-lime-900: #243503;
    --token-green-100: #f5fae5;
    --token-green-200: #ebf5cb;
    --token-green-300: #bde986;
    --token-green-400: #97dd40;
    --token-green-500: #36a41d;
    --token-green-600: #188918;
    --token-green-700: #256f3a;
    --token-green-800: #1e592f;
    --token-green-900: #164323;
    --token-mint-100: #f1fdf6;
    --token-mint-200: #cffce1;
    --token-mint-300: #96efb9;
    --token-mint-400: #67dc96;
    --token-mint-500: #3abf6f;
    --token-mint-600: #2a9856;
    --token-mint-700: #107e3e;
    --token-mint-800: #15562f;
    --token-mint-900: #08361a;
    --token-teal-100: #dafdf5;
    --token-teal-200: #c2fcee;
    --token-teal-300: #64edd2;
    --token-teal-400: #2ce0bf;
    --token-teal-500: #049f9a;
    --token-teal-600: #07838f;
    --token-teal-700: #046c7a;
    --token-teal-800: #035663;
    --token-teal-900: #02414c;
    --token-azure-100: #f5faff;
    --token-azure-200: #d6eeff;
    --token-azure-300: #a0cefc;
    --token-azure-400: #6ca8e3;
    --token-azure-500: #3c8cdd;
    --token-azure-600: #0a6ed1;
    --token-azure-700: #0854a0;
    --token-azure-800: #053b70;
    --token-azure-900: #06294b;
    --token-blue-100: #ebf8ff;
    --token-blue-200: #d1efff;
    --token-blue-300: #a6e0ff;
    --token-blue-400: #89d1ff;
    --token-blue-500: #1b90ff;
    --token-blue-600: #0070f2;
    --token-blue-700: #0057d2;
    --token-blue-800: #0040b0;
    --token-blue-900: #002a86;
    --token-purple-100: #f1ecff;
    --token-purple-200: #e2d8ff;
    --token-purple-300: #d3b6ff;
    --token-purple-400: #b894ff;
    --token-purple-500: #7858ff;
    --token-purple-600: #5d36ff;
    --token-purple-700: #470ced;
    --token-purple-800: #2c13ad;
    --token-purple-900: #1c0c6e;
    --token-magenta-100: #fff0fa;
    --token-magenta-200: #ffdcf3;
    --token-magenta-300: #ffafed;
    --token-magenta-400: #ff8af0;
    --token-magenta-500: #f31ded;
    --token-magenta-600: #cc00dc;
    --token-magenta-700: #a100c2;
    --token-magenta-800: #7800a4;
    --token-magenta-900: #510080;
    --token-pink-100: #fff0f5;
    --token-pink-200: #ffdce8;
    --token-pink-300: #fecbda;
    --token-pink-400: #feacc8;
    --token-pink-500: #fa4f96;
    --token-pink-600: #df1278;
    --token-pink-700: #ba066c;
    --token-pink-800: #9b015d;
    --token-pink-900: #71014b;
    --token-graphite-100: #f1f6fb;
    --token-graphite-200: #e2eaf1;
    --token-graphite-300: #c4d3dd;
    --token-graphite-400: #a6bcc9;
    --token-graphite-500: #869eac;
    --token-graphite-600: #647987;
    --token-graphite-700: #485d70;
    --token-graphite-800: #354a5f;
    --token-graphite-900: #1d3044;
    --token-gray-100: #f5f6f7;
    --token-gray-200: #eaecee;
    --token-gray-300: #d5dadd;
    --token-gray-400: #a9b4be;
    --token-gray-500: #5b738b;
    --token-gray-600: #475e75;
    --token-gray-700: #354a5f;
    --token-gray-800: #223548;
    --token-gray-900: #1a2733;
    --token-gray-999: #000000;
    --token-gray-000: #ffffff;
    --token-background-dark: #1a2733;
    --token-background-default: #ffffff;
    --token-background-faint: #f5f6f7;
    --token-background-light: #ffffff;
    --token-background-strong: #eaecee;
    --token-border-default: #d5dadd;
    --token-border-strong: #5b738b;
    --token-chart-10-100: #dafdf5;
    --token-chart-10-200: #c2fcee;
    --token-chart-10-300: #64edd2;
    --token-chart-10-400: #2ce0bf;
    --token-chart-10-500: #049f9a;
    --token-chart-10-600: #07838f;
    --token-chart-10-700: #046c7a;
    --token-chart-10-800: #035663;
    --token-chart-10-900: #02414c;
    --token-chart-10-default: #07838f;
    --token-chart-01-100: #ebf8ff;
    --token-chart-01-200: #d1efff;
    --token-chart-01-300: #a6e0ff;
    --token-chart-01-400: #89d1ff;
    --token-chart-01-500: #1b90ff;
    --token-chart-01-600: #0070f2;
    --token-chart-01-700: #0057d2;
    --token-chart-01-800: #0040b0;
    --token-chart-01-900: #002a86;
    --token-chart-01-default: #0070f2;
    --token-chart-02-100: #fef7f1;
    --token-chart-02-200: #ffe3c7;
    --token-chart-02-300: #ffc890;
    --token-chart-02-400: #f7ab5e;
    --token-chart-02-500: #f58b2e;
    --token-chart-02-600: #e9730c;
    --token-chart-02-700: #b34b0f;
    --token-chart-02-800: #792d06;
    --token-chart-02-900: #421b07;
    --token-chart-02-default: #e9730c;
    --token-chart-03-100: #f1fdf6;
    --token-chart-03-200: #cffce1;
    --token-chart-03-300: #96efb9;
    --token-chart-03-400: #67dc96;
    --token-chart-03-500: #3abf6f;
    --token-chart-03-600: #2a9856;
    --token-chart-03-700: #107e3e;
    --token-chart-03-800: #15562f;
    --token-chart-03-900: #08361a;
    --token-chart-03-default: #2a9856;
    --token-chart-04-100: #fff0fa;
    --token-chart-04-200: #ffdcf3;
    --token-chart-04-300: #ffafed;
    --token-chart-04-400: #ff8af0;
    --token-chart-04-500: #f31ded;
    --token-chart-04-600: #cc00dc;
    --token-chart-04-700: #a100c2;
    --token-chart-04-800: #7800a4;
    --token-chart-04-900: #510080;
    --token-chart-04-default: #cc00dc;
    --token-chart-05-100: #f5f6f7;
    --token-chart-05-200: #eaecee;
    --token-chart-05-300: #d5dadd;
    --token-chart-05-400: #a9b4be;
    --token-chart-05-500: #5b738b;
    --token-chart-05-600: #475e75;
    --token-chart-05-700: #354a5f;
    --token-chart-05-800: #223548;
    --token-chart-05-900: #1a2733;
    --token-chart-05-999: #000000;
    --token-chart-05-000: #ffffff;
    --token-chart-05-default: #475e75;
    --token-chart-06-100: #f1ecff;
    --token-chart-06-200: #e2d8ff;
    --token-chart-06-300: #d3b6ff;
    --token-chart-06-400: #b894ff;
    --token-chart-06-500: #7858ff;
    --token-chart-06-600: #5d36ff;
    --token-chart-06-700: #470ced;
    --token-chart-06-800: #2c13ad;
    --token-chart-06-900: #1c0c6e;
    --token-chart-06-default: #5d36ff;
    --token-chart-07-100: #fff8d6;
    --token-chart-07-200: #fff3b8;
    --token-chart-07-300: #ffdf72;
    --token-chart-07-400: #ffc933;
    --token-chart-07-500: #e76500;
    --token-chart-07-600: #c35500;
    --token-chart-07-700: #a93e00;
    --token-chart-07-800: #8d2a00;
    --token-chart-07-900: #6d1900;
    --token-chart-07-default: #c35500;
    --token-chart-08-100: #fff0f5;
    --token-chart-08-200: #ffdce8;
    --token-chart-08-300: #fecbda;
    --token-chart-08-400: #feacc8;
    --token-chart-08-500: #fa4f96;
    --token-chart-08-600: #df1278;
    --token-chart-08-700: #ba066c;
    --token-chart-08-800: #9b015d;
    --token-chart-08-900: #71014b;
    --token-chart-08-default: #df1278;
    --token-chart-09-100: #f5faff;
    --token-chart-09-200: #d6eeff;
    --token-chart-09-300: #a0cefc;
    --token-chart-09-400: #6ca8e3;
    --token-chart-09-500: #3c8cdd;
    --token-chart-09-600: #0a6ed1;
    --token-chart-09-700: #0854a0;
    --token-chart-09-800: #053b70;
    --token-chart-09-900: #06294b;
    --token-chart-09-default: #0a6ed1;
    --token-outline-focus: #0070f2;
    --token-outline-focusAlternative: #ffffff;
    --token-outline-hover: color-mix(in srgb, #ffffff 50%, transparent);
    --token-overlay-default: #ffffff;
    --token-overlay-light: #ffffff;
    --token-overlay-dark: #000000;
    --token-shadow-default: #000000;
    --token-shadow-light: 0 2px 6px 0 color-mix(in srgb, #1a2733 10%, transparent);
    --token-shadow-medium: 0 8px 24px 0 color-mix(in srgb, #1a2733 20%, transparent);
    --token-shadow-strong: 0 16px 48px 0 color-mix(in srgb, #1a2733 33%, transparent);
    --token-text-default: #1a2733;
    --token-text-faint: #5b738b;
    --token-text-highlight: #0070f2;
    --token-text-success: #36a41d;
    --token-text-warning: #e76500;
    --token-text-error: #d20a0a;
    --token-text-light: #ffffff;
    --token-text-dark: #1a2733;
    --token-text-placeholder: #5b738b;
    --token-text-ai: #7858ff;
    --token-neutral-100: #f5f6f7;
    --token-neutral-200: #eaecee;
    --token-neutral-300: #d5dadd;
    --token-neutral-400: #a9b4be;
    --token-neutral-500: #5b738b;
    --token-neutral-600: #475e75;
    --token-neutral-700: #354a5f;
    --token-neutral-800: #223548;
    --token-neutral-900: #1a2733;
    --token-neutral-999: #000000;
    --token-neutral-000: #ffffff;
    --token-neutral-default: #5b738b;
    --token-success-100: #f5fae5;
    --token-success-200: #ebf5cb;
    --token-success-300: #bde986;
    --token-success-400: #97dd40;
    --token-success-500: #36a41d;
    --token-success-600: #188918;
    --token-success-700: #256f3a;
    --token-success-800: #1e592f;
    --token-success-900: #164323;
    --token-success-default: #36a41d;
    --token-error-100: #ffeaf4;
    --token-error-200: #ffd5ea;
    --token-error-300: #ffb2d2;
    --token-error-400: #ff8cb2;
    --token-error-500: #ee3939;
    --token-error-600: #d20a0a;
    --token-error-700: #aa0808;
    --token-error-800: #840606;
    --token-error-900: #5a0404;
    --token-error-default: #ee3939;
    --token-error-faint: #ffb2d2;
    --token-warning-100: #fff8d6;
    --token-warning-200: #fff3b8;
    --token-warning-300: #ffdf72;
    --token-warning-400: #ffc933;
    --token-warning-500: #e76500;
    --token-warning-600: #c35500;
    --token-warning-700: #a93e00;
    --token-warning-800: #8d2a00;
    --token-warning-900: #6d1900;
    --token-warning-default: #e76500;
    --token-info-100: #ebf8ff;
    --token-info-200: #d1efff;
    --token-info-300: #a6e0ff;
    --token-info-400: #89d1ff;
    --token-info-500: #1b90ff;
    --token-info-600: #0070f2;
    --token-info-700: #0057d2;
    --token-info-800: #0040b0;
    --token-info-900: #002a86;
    --token-info-default: #0070f2;
    --token-highlight-100: #ebf8ff;
    --token-highlight-200: #d1efff;
    --token-highlight-300: #a6e0ff;
    --token-highlight-400: #89d1ff;
    --token-highlight-500: #1b90ff;
    --token-highlight-600: #0070f2;
    --token-highlight-700: #0057d2;
    --token-highlight-800: #0040b0;
    --token-highlight-900: #002a86;
    --token-highlight-default: #0070f2;
    --token-ai-100: #f1ecff;
    --token-ai-200: #e2d8ff;
    --token-ai-300: #d3b6ff;
    --token-ai-400: #b894ff;
    --token-ai-500: #7858ff;
    --token-ai-600: #5d36ff;
    --token-ai-700: #470ced;
    --token-ai-800: #2c13ad;
    --token-ai-900: #1c0c6e;
    --token-ai-default: #5d36ff;
    --token-danger-100: #ffeaf4;
    --token-danger-200: #ffd5ea;
    --token-danger-300: #ffb2d2;
    --token-danger-400: #ff8cb2;
    --token-danger-500: #ee3939;
    --token-danger-600: #d20a0a;
    --token-danger-700: #aa0808;
    --token-danger-800: #840606;
    --token-danger-900: #5a0404;
    --token-danger-default: #ee3939;
    --token-danger-faint: #ffb2d2;
    --token-alert-100: #ffeaf4;
    --token-alert-200: #ffd5ea;
    --token-alert-300: #ffb2d2;
    --token-alert-400: #ff8cb2;
    --token-alert-500: #ee3939;
    --token-alert-600: #d20a0a;
    --token-alert-700: #aa0808;
    --token-alert-800: #840606;
    --token-alert-900: #5a0404;
    --token-alert-default: #ee3939;
    --token-alert-faint: #ffb2d2;
    --token-primary-100: #ebf8ff;
    --token-primary-200: #d1efff;
    --token-primary-300: #a6e0ff;
    --token-primary-400: #89d1ff;
    --token-primary-500: #1b90ff;
    --token-primary-600: #0070f2;
    --token-primary-700: #0057d2;
    --token-primary-800: #0040b0;
    --token-primary-900: #002a86;
    --token-primary-default: #0070f2;
    --token-action-default-background: #ffffff;
    --token-action-default-backgroundDisabled: #f5f6f7;
    --token-action-default-backgroundHover: #eaecee;
    --token-action-default-bullet: #eaecee;
    --token-action-default-bulletHover: #d5dadd;
    --token-action-default-marker: #a9b4be;
    --token-action-default-text: #1a2733;
    --token-action-selected-background: #d1efff;
    --token-action-selected-backgroundDisabled: #d1efff;
    --token-action-selected-backgroundHover: #a6e0ff;
    --token-action-selected-bullet: #a6e0ff;
    --token-action-selected-bulletHover: #89d1ff;
    --token-action-selected-marker: #0070f2;
    --token-action-selected-text: #0070f2;
    --token-box-default-background: #ffffff;
    --token-box-default-border: #d5dadd;
    --token-box-default-text: #1a2733;
    --token-box-default-icon: #1a2733;
    --token-box-alternate-background: #eaecee;
    --token-box-alternate-border: #d5dadd;
    --token-box-alternate-text: #223548;
    --token-box-alternate-icon: #1a2733;
    --token-box-strong-background: #ffffff;
    --token-box-strong-border: #5b738b;
    --token-box-strong-text: #1a2733;
    --token-box-strong-icon: #1a2733;
    --token-box-highlight-background: #ebf8ff;
    --token-box-highlight-border: #0070f2;
    --token-box-highlight-text: #1a2733;
    --token-box-highlight-icon: #0070f2;
    --token-box-success-background: #f5fae5;
    --token-box-success-border: #36a41d;
    --token-box-success-text: #1a2733;
    --token-box-success-icon: #36a41d;
    --token-box-warning-background: #fff8d6;
    --token-box-warning-border: #e76500;
    --token-box-warning-text: #1a2733;
    --token-box-warning-icon: #e76500;
    --token-box-error-background: #ffeaf4;
    --token-box-error-border: #ee3939;
    --token-box-error-text: #1a2733;
    --token-box-error-icon: #d20a0a;
    --token-button-default-background: #ffffff;
    --token-button-default-backgroundActive: #ffffff;
    --token-button-default-backgroundActiveHover: #d1efff;
    --token-button-default-backgroundHover: #eaecee;
    --token-button-default-border: #d5dadd;
    --token-button-default-borderActive: #0070f2;
    --token-button-default-borderHover: #d5dadd;
    --token-button-default-height: 36px;
    --token-button-default-heightSmall: 24px;
    --token-button-default-heightLarge: 48px;
    --token-button-default-text: #0070f2;
    --token-button-default-textActive: #0070f2;
    --token-button-highlight-background: #0070f2;
    --token-button-highlight-backgroundActive: #ffffff;
    --token-button-highlight-backgroundActiveHover: #d1efff;
    --token-button-highlight-backgroundHover: #0057d2;
    --token-button-highlight-border: transparent;
    --token-button-highlight-borderActive: #0070f2;
    --token-button-highlight-borderHover: transparent;
    --token-button-highlight-text: #ffffff;
    --token-button-highlight-textActive: #0070f2;
    --token-button-success-background: #f5fae5;
    --token-button-success-backgroundActive: #ffffff;
    --token-button-success-backgroundActiveHover: #ebf5cb;
    --token-button-success-backgroundHover: #ebf5cb;
    --token-button-success-border: #bde986;
    --token-button-success-borderActive: #36a41d;
    --token-button-success-borderHover: #bde986;
    --token-button-success-text: #36a41d;
    --token-button-success-textActive: #36a41d;
    --token-button-warning-background: #fff8d6;
    --token-button-warning-backgroundActive: #ffffff;
    --token-button-warning-backgroundActiveHover: #fff3b8;
    --token-button-warning-backgroundHover: #fff3b8;
    --token-button-warning-border: #ffdf72;
    --token-button-warning-borderActive: #e76500;
    --token-button-warning-borderHover: #ffdf72;
    --token-button-warning-text: #e76500;
    --token-button-warning-textActive: #e76500;
    --token-button-error-background: #ffeaf4;
    --token-button-error-backgroundActive: #ffffff;
    --token-button-error-backgroundActiveHover: #ffd5ea;
    --token-button-error-backgroundHover: #ffd5ea;
    --token-button-error-border: #ffb2d2;
    --token-button-error-borderActive: #ee3939;
    --token-button-error-borderHover: #ffb2d2;
    --token-button-error-text: #d20a0a;
    --token-button-error-textActive: #d20a0a;
    --token-button-overlay-background: transparent;
    --token-button-overlay-backgroundActive: transparent;
    --token-button-overlay-backgroundActiveHover: #ffffff33;
    --token-button-overlay-backgroundHover: #ffffff33;
    --token-button-overlay-border: transparent;
    --token-button-overlay-borderHover: #ffffff66;
    --token-button-overlay-borderActive: #ffffff;
    --token-button-overlay-text: #ffffff;
    --token-button-overlay-textActive: #ffffff;
    --token-button-toolbar-background: transparent;
    --token-button-toolbar-backgroundActive: #ffffff;
    --token-button-toolbar-backgroundActiveHover: #d1efff;
    --token-button-toolbar-backgroundHover: #eaecee;
    --token-button-toolbar-border: transparent;
    --token-button-toolbar-borderHover: #d5dadd;
    --token-button-toolbar-borderActive: #0070f2;
    --token-button-toolbar-text: #0070f2;
    --token-button-toolbar-textActive: #0070f2;
    --token-font-default: "72", "Helvetica", "Arial", sans-serif;
    --token-font-monospace: "72 Mono", monospace;
    --token-icon-default-fontFamily: EDS Horizon Icons;
    --token-icon-default-size: 24px;
    --token-icon-default-sizeLarge: 48px;
    --token-icon-default-sizeSmall: 16px;
    --token-icon-default-text: #1a2733;
    --token-input-default-background: #ffffff;
    --token-input-default-backgroundActive: #ffffff;
    --token-input-default-backgroundHover: #ffffff;
    --token-input-default-backgroundReadOnly: #eaecee;
    --token-input-default-border: #d5dadd;
    --token-input-default-borderActive: #0070f2;
    --token-input-default-borderHover: #a6e0ff;
    --token-input-default-height: 36px;
    --token-input-default-text: #1a2733;
    --token-input-default-underline: #5b738b;
    --token-input-default-underlineHover: #0070f2;
    --token-input-error-background: #ffeaf4;
    --token-input-error-backgroundActive: #ffffff;
    --token-input-error-backgroundHover: #ffffff;
    --token-input-error-backgroundReadOnly: #eaecee;
    --token-input-error-border: #ffb2d2;
    --token-input-error-borderActive: #ee3939;
    --token-input-error-borderHover: #ffb2d2;
    --token-input-error-text: #1a2733;
    --token-input-error-underline: #ee3939;
    --token-input-error-underlineHover: #ee3939;
    --token-input-warning-background: #fff8d6;
    --token-input-warning-backgroundActive: #ffffff;
    --token-input-warning-backgroundHover: #ffffff;
    --token-input-warning-backgroundReadOnly: #eaecee;
    --token-input-warning-border: #ffdf72;
    --token-input-warning-borderActive: #e76500;
    --token-input-warning-borderHover: #ffdf72;
    --token-input-warning-text: #1a2733;
    --token-input-warning-underline: #e76500;
    --token-input-warning-underlineHover: #e76500;
    --token-input-success-background: #f5fae5;
    --token-input-success-backgroundActive: #ffffff;
    --token-input-success-backgroundHover: #ffffff;
    --token-input-success-backgroundReadOnly: #eaecee;
    --token-input-success-border: #bde986;
    --token-input-success-borderActive: #36a41d;
    --token-input-success-borderHover: #bde986;
    --token-input-success-text: #1a2733;
    --token-input-success-underline: #36a41d;
    --token-input-success-underlineHover: #36a41d;
    --token-input-info-background: #ebf8ff;
    --token-input-info-backgroundActive: #ffffff;
    --token-input-info-backgroundHover: #ffffff;
    --token-input-info-backgroundReadOnly: #eaecee;
    --token-input-info-border: #a6e0ff;
    --token-input-info-borderActive: #1b90ff;
    --token-input-info-borderHover: #a6e0ff;
    --token-input-info-text: #1a2733;
    --token-input-info-underline: #1b90ff;
    --token-input-info-underlineHover: #1b90ff;
    --token-label-default-background: #f5f6f7;
    --token-label-default-backgroundHover: #d5dadd;
    --token-label-default-border: #d5dadd;
    --token-label-default-text: #1a2733;
    --token-label-highlight-background: #0070f2;
    --token-label-highlight-backgroundHover: #0040b0;
    --token-label-highlight-border: #0070f2;
    --token-label-highlight-text: #ffffff;
    --token-label-error-background: #ee3939;
    --token-label-error-backgroundHover: #aa0808;
    --token-label-error-border: #ee3939;
    --token-label-error-text: #ffffff;
    --token-label-warning-background: #e76500;
    --token-label-warning-backgroundHover: #a93e00;
    --token-label-warning-border: #e76500;
    --token-label-warning-text: #ffffff;
    --token-label-success-background: #36a41d;
    --token-label-success-backgroundHover: #256f3a;
    --token-label-success-border: #36a41d;
    --token-label-success-text: #ffffff;
    --token-label-defaultFaint-background: #f5f6f7;
    --token-label-defaultFaint-backgroundHover: #d5dadd;
    --token-label-defaultFaint-border: #d5dadd;
    --token-label-defaultFaint-text: #1a2733;
    --token-label-highlightFaint-background: #ebf8ff;
    --token-label-highlightFaint-backgroundHover: #a6e0ff;
    --token-label-highlightFaint-border: #a6e0ff;
    --token-label-highlightFaint-text: #0070f2;
    --token-label-errorFaint-background: #ffeaf4;
    --token-label-errorFaint-backgroundHover: #ffb2d2;
    --token-label-errorFaint-border: #ffb2d2;
    --token-label-errorFaint-text: #d20a0a;
    --token-label-warningFaint-background: #fff8d6;
    --token-label-warningFaint-backgroundHover: #ffdf72;
    --token-label-warningFaint-border: #ffdf72;
    --token-label-warningFaint-text: #c35500;
    --token-label-successFaint-background: #f5fae5;
    --token-label-successFaint-backgroundHover: #bde986;
    --token-label-successFaint-border: #bde986;
    --token-label-successFaint-text: #188918;
    --token-link-default-text: #0070f2;
    --token-link-default-textActive: #a6e0ff;
    --token-link-default-textHover: #0057d2;
    --token-link-visited-text: #0070f2;
    --token-link-visited-textActive: #a6e0ff;
    --token-link-visited-textHover: #0057d2;
    --token-login-background: color-mix(in srgb, #ffffff 30%, transparent);
    --token-login-text: #ffffff;
    --token-login-backgroundDark: color-mix(in srgb, #223548 30%, transparent);
    --token-navigation-background: #ffffff;
    --token-navigation-border: #d5dadd;
    --token-navigation-text: #1a2733;
    --token-navigationItem-default-background: #ffffff;
    --token-navigationItem-default-backgroundHover: #eaecee;
    --token-navigationItem-default-backgroundActive: #d1efff;
    --token-navigationItem-default-backgroundActiveHover: #a6e0ff;
    --token-navigationItem-default-marker: #ffffff;
    --token-navigationItem-default-text: #1a2733;
    --token-navigationItem-selected-background: #ffffff;
    --token-navigationItem-selected-backgroundHover: #eaecee;
    --token-navigationItem-selected-backgroundActive: #d1efff;
    --token-navigationItem-selected-backgroundActiveHover: #a6e0ff;
    --token-navigationItem-selected-marker: #0070f2;
    --token-navigationItem-selected-text: #0070f2;
    --token-progressBar-default-background: #d5dadd;
    --token-progressBar-default-bar: #5b738b;
    --token-progressBar-inverse-background: #ffffff;
    --token-progressBar-inverse-text: #ffffff;
    --token-progressBar-notification-background: #f5f6f7;
    --token-progressBar-notification-bar: #0070f2;
    --token-progressBar-error-background: #ffd5ea;
    --token-progressBar-error-bar: #ee3939;
    --token-progressBar-warning-background: #fff3b8;
    --token-progressBar-warning-bar: #e76500;
    --token-progressBar-success-background: #ebf5cb;
    --token-progressBar-success-bar: #36a41d;
    --token-progressBar-info-background: #a6e0ff;
    --token-progressBar-info-bar: #0070f2;
    --token-radio-default-background: #eaecee;
    --token-radio-default-backgroundHover: #ffffff;
    --token-radio-default-border: #5b738b;
    --token-radio-default-borderFocus: #0070f2;
    --token-radio-default-colorFocus: #0070f2;
    --token-radio-default-marker: #0070f2;
    --token-radio-default-text: #1a2733;
    --token-radio-error-background: #ffd5ea;
    --token-radio-error-backgroundHover: #ffffff;
    --token-radio-error-border: #ee3939;
    --token-radio-error-borderFocus: #d20a0a;
    --token-radio-error-colorFocus: #d20a0a;
    --token-radio-error-marker: #d20a0a;
    --token-radio-error-text: #d20a0a;
    --token-radio-info-background: #d1efff;
    --token-radio-info-backgroundHover: #ffffff;
    --token-radio-info-border: #0070f2;
    --token-radio-info-borderFocus: #0070f2;
    --token-radio-info-colorFocus: #0070f2;
    --token-radio-info-marker: #0070f2;
    --token-radio-info-text: #0070f2;
    --token-radio-success-background: #ebf5cb;
    --token-radio-success-backgroundHover: #ffffff;
    --token-radio-success-border: #36a41d;
    --token-radio-success-borderFocus: #36a41d;
    --token-radio-success-colorFocus: #36a41d;
    --token-radio-success-marker: #36a41d;
    --token-radio-success-text: #36a41d;
    --token-radio-warning-background: #fff3b8;
    --token-radio-warning-backgroundHover: #ffffff;
    --token-radio-warning-border: #e76500;
    --token-radio-warning-borderFocus: #e76500;
    --token-radio-warning-colorFocus: #e76500;
    --token-radio-warning-marker: #e76500;
    --token-radio-warning-text: #e76500;
    --token-ruleBuilder-variant1-autoLabel: #d5dadd;
    --token-ruleBuilder-variant1-background: #f5f6f7;
    --token-ruleBuilder-variant1-backgroundHover: #eaecee;
    --token-ruleBuilder-variant1-border: #a9b4be;
    --token-ruleBuilder-variant1-buttonFocus: #d5dadd;
    --token-ruleBuilder-variant1-buttonHover: #a9b4be;
    --token-ruleBuilder-variant1-buttonTextHover: #354a5f;
    --token-ruleBuilder-variant1-text: #5b738b;
    --token-ruleBuilder-variant2-autoLabel: #a6e0ff;
    --token-ruleBuilder-variant2-background: #ebf8ff;
    --token-ruleBuilder-variant2-backgroundHover: #d1efff;
    --token-ruleBuilder-variant2-border: #89d1ff;
    --token-ruleBuilder-variant2-buttonFocus: #a6e0ff;
    --token-ruleBuilder-variant2-buttonHover: #89d1ff;
    --token-ruleBuilder-variant2-buttonTextHover: #0057d2;
    --token-ruleBuilder-variant2-text: #1b90ff;
    --token-ruleBuilder-variant3-autoLabel: #d3b6ff;
    --token-ruleBuilder-variant3-background: #f1ecff;
    --token-ruleBuilder-variant3-backgroundHover: #e2d8ff;
    --token-ruleBuilder-variant3-border: #b894ff;
    --token-ruleBuilder-variant3-buttonFocus: #d3b6ff;
    --token-ruleBuilder-variant3-buttonHover: #b894ff;
    --token-ruleBuilder-variant3-buttonTextHover: #470ced;
    --token-ruleBuilder-variant3-text: #7858ff;
    --token-ruleBuilder-wrapper-backgroundHover: #eaecee;
    --token-separator-text: #5b738b;
    --token-separator-line: #d5dadd;
    --token-shellbar-actionBackground: #ffffff;
    --token-shellbar-actionBackgroundHover: #eaecee;
    --token-shellbar-actionText: #1a2733;
    --token-shellbar-background: #ffffff;
    --token-shellbar-text: #1a2733;
    --token-slider-background: #d5dadd;
    --token-slider-bar: #0070f2;
    --token-slider-marker: #5b738b;
    --token-slider-step: #d5dadd;
    --token-slider-text: #475e75;
    --token-slider-handleActive: #0070f2;
    --token-slider-handleBackground: #ffffff;
    --token-slider-bubble: #0070f2;
    --token-slider-bubbleText: #ffffff;
    --token-switch-off-background: #5b738b;
    --token-switch-off-backgroundHover: #475e75;
    --token-switch-off-toggleText: #1a2733;
    --token-switch-off-toggleBackground: #ffffff;
    --token-switch-off-toggleBorder: #5b738b;
    --token-switch-off-toggleBorderHover: color-mix(in srgb, #ffffff 50%, transparent);
    --token-switch-on-background: #0070f2;
    --token-switch-on-backgroundHover: #0057d2;
    --token-switch-on-toggleText: #0070f2;
    --token-switch-on-toggleBackground: #ffffff;
    --token-switch-on-toggleBorder: #1b90ff;
    --token-switch-on-toggleBorderHover: color-mix(in srgb, #ffffff 50%, transparent);
    --token-tab-default-background: #ffffff;
    --token-tab-default-backgroundHover: #eaecee;
    --token-tab-default-marker: #ffffff;
    --token-tab-default-text: #1a2733;
    --token-tab-selected-background: #ffffff;
    --token-tab-selected-backgroundHover: #ffffff;
    --token-tab-selected-marker: #0070f2;
    --token-tab-selected-text: #0070f2;
    --token-tableCell-default-background: #ffffff;
    --token-tableCell-default-backgroundActive: #eaecee;
    --token-tableCell-default-backgroundActiveHover: #d5dadd;
    --token-tableCell-default-backgroundHover: #eaecee;
    --token-tableCell-default-border: #d5dadd;
    --token-tableCell-selected-background: #ebf8ff;
    --token-tableCell-selected-backgroundActive: #ebf8ff;
    --token-tableCell-selected-backgroundActiveHover: #d1efff;
    --token-tableCell-selected-backgroundHover: #d1efff;
    --token-tableCell-selected-border: #0070f2;
    --token-tableCell-alternate-background: #eaecee;
    --token-tableCell-alternate-backgroundActive: #eaecee;
    --token-tableCell-alternate-backgroundActiveHover: #d5dadd;
    --token-tableCell-alternate-backgroundHover: #d5dadd;
    --token-tableCell-alternate-border: #d5dadd;
    --token-tableHeader-filterSize: 260px;
    --token-transition-time: .2s;
    --token-mainMenu-itemHeight: 40px;
    --token-mainMenu-shadow: 0 0 0.125rem 0 var(--token-gray-300), 0 0.125rem 0.25rem 0 var(--token-gray-300);
    --token-mainMenu-width: 64px;
    --token-badge-background: #aa0808;
    --token-badge-text: #ffffff;
    --token-badge-borderColor: #ffffff;
}

/* dark mode */
:root { 
    --token-red-100: #5a0404;
    --token-red-200: #840606;
    --token-red-300: #aa0808;
    --token-red-400: #d20a0a;
    --token-red-500: #ee3939;
    --token-red-600: #ff8cb2;
    --token-red-700: #ffb2d2;
    --token-red-800: #ffd5ea;
    --token-red-900: #ffeaf4;
    --token-orange-100: #421b07;
    --token-orange-200: #792d06;
    --token-orange-300: #b34b0f;
    --token-orange-400: #e9730c;
    --token-orange-500: #f58b2e;
    --token-orange-600: #f7ab5e;
    --token-orange-700: #ffc890;
    --token-orange-800: #ffe3c7;
    --token-orange-900: #fef7f1;
    --token-yellow-100: #382700;
    --token-yellow-200: #523900;
    --token-yellow-300: #644b00;
    --token-yellow-400: #855c00;
    --token-yellow-500: #cc8800;
    --token-yellow-600: #f7bf00;
    --token-yellow-700: #ffdf72;
    --token-yellow-800: #fff3b8;
    --token-yellow-900: #fff8d6;
    --token-lime-100: #243503;
    --token-lime-200: #42590d;
    --token-lime-300: #617e10;
    --token-lime-400: #7ca10c;
    --token-lime-500: #99bb1b;
    --token-lime-600: #b4ce35;
    --token-lime-700: #d4e45f;
    --token-lime-800: #ecf49f;
    --token-lime-900: #f5fad1;
    --token-green-100: #164323;
    --token-green-200: #1e592f;
    --token-green-300: #256f3a;
    --token-green-400: #188918;
    --token-green-500: #36a41d;
    --token-green-600: #97dd40;
    --token-green-700: #bde986;
    --token-green-800: #ebf5cb;
    --token-green-900: #f5fae5;
    --token-mint-100: #08361a;
    --token-mint-200: #15562f;
    --token-mint-300: #107e3e;
    --token-mint-400: #2a9856;
    --token-mint-500: #3abf6f;
    --token-mint-600: #67dc96;
    --token-mint-700: #96efb9;
    --token-mint-800: #cffce1;
    --token-mint-900: #f1fdf6;
    --token-teal-100: #02414c;
    --token-teal-200: #035663;
    --token-teal-300: #046c7a;
    --token-teal-400: #07838f;
    --token-teal-500: #049f9a;
    --token-teal-600: #2ce0bf;
    --token-teal-700: #64edd2;
    --token-teal-800: #c2fcee;
    --token-teal-900: #dafdf5;
    --token-azure-100: #06294b;
    --token-azure-200: #053b70;
    --token-azure-300: #0854a0;
    --token-azure-400: #0a6ed1;
    --token-azure-500: #3c8cdd;
    --token-azure-600: #6ca8e3;
    --token-azure-700: #a0cefc;
    --token-azure-800: #d6eeff;
    --token-azure-900: #f5faff;
    --token-blue-100: #002a86;
    --token-blue-200: #0040b0;
    --token-blue-300: #0057d2;
    --token-blue-400: #0070f2;
    --token-blue-500: #1b90ff;
    --token-blue-600: #89d1ff;
    --token-blue-700: #a6dfff;
    --token-blue-800: #d1efff;
    --token-blue-900: #ebf8ff;
    --token-purple-100: #1c0c6e;
    --token-purple-200: #2c13ad;
    --token-purple-300: #470ced;
    --token-purple-400: #5d36ff;
    --token-purple-500: #7858ff;
    --token-purple-600: #b894ff;
    --token-purple-700: #d3b6ff;
    --token-purple-800: #e2d8ff;
    --token-purple-900: #f1ecff;
    --token-magenta-100: #510080;
    --token-magenta-200: #7800a4;
    --token-magenta-300: #a100c2;
    --token-magenta-400: #cc00dc;
    --token-magenta-500: #f31ded;
    --token-magenta-600: #ff8af0;
    --token-magenta-700: #ffafed;
    --token-magenta-800: #ffdcf3;
    --token-magenta-900: #fff0fa;
    --token-pink-100: #71014b;
    --token-pink-200: #9b015d;
    --token-pink-300: #ba066c;
    --token-pink-400: #df1278;
    --token-pink-500: #fa4f96;
    --token-pink-600: #feacc8;
    --token-pink-700: #fecbda;
    --token-pink-800: #ffdce8;
    --token-pink-900: #fff0f5;
    --token-graphite-100: #12171c;
    --token-graphite-200: #1d232a;
    --token-graphite-300: #232b33;
    --token-graphite-400: #2e3b47;
    --token-graphite-500: #5b738b;
    --token-graphite-600: #8396a8;
    --token-graphite-700: #a9b4be;
    --token-graphite-800: #b8c1c9;
    --token-graphite-900: #eaecee;
    --token-gray-100: #12171c;
    --token-gray-200: #1d232a;
    --token-gray-300: #232b33;
    --token-gray-400: #2e3b47;
    --token-gray-500: #5b738b;
    --token-gray-600: #8396a8;
    --token-gray-700: #a9b4be;
    --token-gray-800: #b8c1c9;
    --token-gray-900: #eaecee;
    --token-gray-999: #ffffff;
    --token-gray-000: #000000;
    --token-background-dark: #12171c;
    --token-background-default: #1d232a;
    --token-background-faint: #12171c;
    --token-background-light: #ffffff;
    --token-background-strong: #232b33;
    --token-border-default: #2e3b47;
    --token-border-strong: #5b738b;
    --token-chart-10-100: #02414c;
    --token-chart-10-200: #035663;
    --token-chart-10-300: #046c7a;
    --token-chart-10-400: #07838f;
    --token-chart-10-500: #049f9a;
    --token-chart-10-600: #2ce0bf;
    --token-chart-10-700: #64edd2;
    --token-chart-10-800: #c2fcee;
    --token-chart-10-900: #dafdf5;
    --token-chart-10-default: #2ce0bf;
    --token-chart-01-100: #002a86;
    --token-chart-01-200: #0040b0;
    --token-chart-01-300: #0057d2;
    --token-chart-01-400: #0070f2;
    --token-chart-01-500: #1b90ff;
    --token-chart-01-600: #89d1ff;
    --token-chart-01-700: #a6dfff;
    --token-chart-01-800: #d1efff;
    --token-chart-01-900: #ebf8ff;
    --token-chart-01-default: #89d1ff;
    --token-chart-02-100: #421b07;
    --token-chart-02-200: #792d06;
    --token-chart-02-300: #b34b0f;
    --token-chart-02-400: #e9730c;
    --token-chart-02-500: #f58b2e;
    --token-chart-02-600: #f7ab5e;
    --token-chart-02-700: #ffc890;
    --token-chart-02-800: #ffe3c7;
    --token-chart-02-900: #fef7f1;
    --token-chart-02-default: #f7ab5e;
    --token-chart-03-100: #08361a;
    --token-chart-03-200: #15562f;
    --token-chart-03-300: #107e3e;
    --token-chart-03-400: #2a9856;
    --token-chart-03-500: #3abf6f;
    --token-chart-03-600: #67dc96;
    --token-chart-03-700: #96efb9;
    --token-chart-03-800: #cffce1;
    --token-chart-03-900: #f1fdf6;
    --token-chart-03-default: #67dc96;
    --token-chart-04-100: #510080;
    --token-chart-04-200: #7800a4;
    --token-chart-04-300: #a100c2;
    --token-chart-04-400: #cc00dc;
    --token-chart-04-500: #f31ded;
    --token-chart-04-600: #ff8af0;
    --token-chart-04-700: #ffafed;
    --token-chart-04-800: #ffdcf3;
    --token-chart-04-900: #fff0fa;
    --token-chart-04-default: #ff8af0;
    --token-chart-05-100: #12171c;
    --token-chart-05-200: #1d232a;
    --token-chart-05-300: #232b33;
    --token-chart-05-400: #2e3b47;
    --token-chart-05-500: #5b738b;
    --token-chart-05-600: #8396a8;
    --token-chart-05-700: #a9b4be;
    --token-chart-05-800: #b8c1c9;
    --token-chart-05-900: #eaecee;
    --token-chart-05-999: #ffffff;
    --token-chart-05-000: #000000;
    --token-chart-05-default: #8396a8;
    --token-chart-06-100: #1c0c6e;
    --token-chart-06-200: #2c13ad;
    --token-chart-06-300: #470ced;
    --token-chart-06-400: #5d36ff;
    --token-chart-06-500: #7858ff;
    --token-chart-06-600: #b894ff;
    --token-chart-06-700: #d3b6ff;
    --token-chart-06-800: #e2d8ff;
    --token-chart-06-900: #f1ecff;
    --token-chart-06-default: #b894ff;
    --token-chart-07-100: #382700;
    --token-chart-07-200: #523900;
    --token-chart-07-300: #644b00;
    --token-chart-07-400: #855c00;
    --token-chart-07-500: #cc8800;
    --token-chart-07-600: #f7bf00;
    --token-chart-07-700: #ffdf72;
    --token-chart-07-800: #fff3b8;
    --token-chart-07-900: #fff8d6;
    --token-chart-07-default: #f7bf00;
    --token-chart-08-100: #71014b;
    --token-chart-08-200: #9b015d;
    --token-chart-08-300: #ba066c;
    --token-chart-08-400: #df1278;
    --token-chart-08-500: #fa4f96;
    --token-chart-08-600: #feacc8;
    --token-chart-08-700: #fecbda;
    --token-chart-08-800: #ffdce8;
    --token-chart-08-900: #fff0f5;
    --token-chart-08-default: #feacc8;
    --token-chart-09-100: #06294b;
    --token-chart-09-200: #053b70;
    --token-chart-09-300: #0854a0;
    --token-chart-09-400: #0a6ed1;
    --token-chart-09-500: #3c8cdd;
    --token-chart-09-600: #6ca8e3;
    --token-chart-09-700: #a0cefc;
    --token-chart-09-800: #d6eeff;
    --token-chart-09-900: #f5faff;
    --token-chart-09-default: #6ca8e3;
    --token-outline-focus: #89d1ff;
    --token-outline-focusAlternative: #ffffff;
    --token-outline-hover: color-mix(in srgb, #12171c 50%, transparent);
    --token-overlay-default: #000000;
    --token-overlay-light: #ffffff;
    --token-overlay-dark: #000000;
    --token-shadow-default: #000000;
    --token-shadow-light: 0 2px 6px 0 color-mix(in srgb, #12171c 10%, transparent);
    --token-shadow-medium: 0 8px 24px 0 color-mix(in srgb, #12171c 20%, transparent);
    --token-shadow-strong: 0 16px 48px 0 color-mix(in srgb, #12171c 33%, transparent);
    --token-text-default: #eaecee;
    --token-text-faint: #5b738b;
    --token-text-highlight: #89d1ff;
    --token-text-success: #36a41d;
    --token-text-warning: #cc8800;
    --token-text-error: #ff8cb2;
    --token-text-light: #ffffff;
    --token-text-dark: #000000;
    --token-text-placeholder: #8396a8;
    --token-text-ai: #7858ff;
    --token-neutral-100: #12171c;
    --token-neutral-200: #1d232a;
    --token-neutral-300: #232b33;
    --token-neutral-400: #2e3b47;
    --token-neutral-500: #5b738b;
    --token-neutral-600: #8396a8;
    --token-neutral-700: #a9b4be;
    --token-neutral-800: #b8c1c9;
    --token-neutral-900: #eaecee;
    --token-neutral-999: #ffffff;
    --token-neutral-000: #000000;
    --token-neutral-default: #5b738b;
    --token-success-100: #164323;
    --token-success-200: #1e592f;
    --token-success-300: #256f3a;
    --token-success-400: #188918;
    --token-success-500: #36a41d;
    --token-success-600: #97dd40;
    --token-success-700: #bde986;
    --token-success-800: #ebf5cb;
    --token-success-900: #f5fae5;
    --token-success-default: #36a41d;
    --token-error-100: #5a0404;
    --token-error-200: #840606;
    --token-error-300: #aa0808;
    --token-error-400: #d20a0a;
    --token-error-500: #ee3939;
    --token-error-600: #ff8cb2;
    --token-error-700: #ffb2d2;
    --token-error-800: #ffd5ea;
    --token-error-900: #ffeaf4;
    --token-error-default: #ee3939;
    --token-error-faint: #aa0808;
    --token-warning-100: #382700;
    --token-warning-200: #523900;
    --token-warning-300: #644b00;
    --token-warning-400: #855c00;
    --token-warning-500: #cc8800;
    --token-warning-600: #f7bf00;
    --token-warning-700: #ffdf72;
    --token-warning-800: #fff3b8;
    --token-warning-900: #fff8d6;
    --token-warning-default: #cc8800;
    --token-info-100: #002a86;
    --token-info-200: #0040b0;
    --token-info-300: #0057d2;
    --token-info-400: #0070f2;
    --token-info-500: #1b90ff;
    --token-info-600: #89d1ff;
    --token-info-700: #a6dfff;
    --token-info-800: #d1efff;
    --token-info-900: #ebf8ff;
    --token-info-default: #89d1ff;
    --token-highlight-100: #002a86;
    --token-highlight-200: #0040b0;
    --token-highlight-300: #0057d2;
    --token-highlight-400: #0070f2;
    --token-highlight-500: #1b90ff;
    --token-highlight-600: #89d1ff;
    --token-highlight-700: #a6dfff;
    --token-highlight-800: #d1efff;
    --token-highlight-900: #ebf8ff;
    --token-highlight-default: #89d1ff;
    --token-ai-100: #1c0c6e;
    --token-ai-200: #2c13ad;
    --token-ai-300: #470ced;
    --token-ai-400: #5d36ff;
    --token-ai-500: #7858ff;
    --token-ai-600: #b894ff;
    --token-ai-700: #d3b6ff;
    --token-ai-800: #e2d8ff;
    --token-ai-900: #f1ecff;
    --token-ai-default: #b894ff;
    --token-danger-100: #5a0404;
    --token-danger-200: #840606;
    --token-danger-300: #aa0808;
    --token-danger-400: #d20a0a;
    --token-danger-500: #ee3939;
    --token-danger-600: #ff8cb2;
    --token-danger-700: #ffb2d2;
    --token-danger-800: #ffd5ea;
    --token-danger-900: #ffeaf4;
    --token-danger-default: #ee3939;
    --token-danger-faint: #aa0808;
    --token-alert-100: #5a0404;
    --token-alert-200: #840606;
    --token-alert-300: #aa0808;
    --token-alert-400: #d20a0a;
    --token-alert-500: #ee3939;
    --token-alert-600: #ff8cb2;
    --token-alert-700: #ffb2d2;
    --token-alert-800: #ffd5ea;
    --token-alert-900: #ffeaf4;
    --token-alert-default: #ee3939;
    --token-alert-faint: #aa0808;
    --token-primary-100: #002a86;
    --token-primary-200: #0040b0;
    --token-primary-300: #0057d2;
    --token-primary-400: #0070f2;
    --token-primary-500: #1b90ff;
    --token-primary-600: #89d1ff;
    --token-primary-700: #a6dfff;
    --token-primary-800: #d1efff;
    --token-primary-900: #ebf8ff;
    --token-primary-default: #89d1ff;
    --token-action-default-background: #1d232a;
    --token-action-default-backgroundDisabled: #12171c;
    --token-action-default-backgroundHover: #232b33;
    --token-action-default-bullet: #2e3b47;
    --token-action-default-bulletHover: #5b738b;
    --token-action-default-marker: #5b738b;
    --token-action-default-text: #eaecee;
    --token-action-selected-background: #002a86;
    --token-action-selected-backgroundDisabled: #0040b0;
    --token-action-selected-backgroundHover: #0040b0;
    --token-action-selected-bullet: #0040b0;
    --token-action-selected-bulletHover: #0057d2;
    --token-action-selected-marker: #89d1ff;
    --token-action-selected-text: #89d1ff;
    --token-box-default-background: #1d232a;
    --token-box-default-border: #2e3b47;
    --token-box-default-text: #eaecee;
    --token-box-default-icon: #eaecee;
    --token-box-alternate-background: #232b33;
    --token-box-alternate-border: #2e3b47;
    --token-box-alternate-text: #b8c1c9;
    --token-box-alternate-icon: #eaecee;
    --token-box-strong-background: #1d232a;
    --token-box-strong-border: #5b738b;
    --token-box-strong-text: #eaecee;
    --token-box-strong-icon: #eaecee;
    --token-box-highlight-background: #002a86;
    --token-box-highlight-border: #89d1ff;
    --token-box-highlight-text: #eaecee;
    --token-box-highlight-icon: #89d1ff;
    --token-box-success-background: #164323;
    --token-box-success-border: #36a41d;
    --token-box-success-text: #eaecee;
    --token-box-success-icon: #36a41d;
    --token-box-warning-background: #382700;
    --token-box-warning-border: #cc8800;
    --token-box-warning-text: #eaecee;
    --token-box-warning-icon: #cc8800;
    --token-box-error-background: #5a0404;
    --token-box-error-border: #ee3939;
    --token-box-error-text: #eaecee;
    --token-box-error-icon: #ff8cb2;
    --token-button-default-background: #1d232a;
    --token-button-default-backgroundActive: #1d232a;
    --token-button-default-backgroundActiveHover: #0040b0;
    --token-button-default-backgroundHover: #232b33;
    --token-button-default-border: #2e3b47;
    --token-button-default-borderActive: #89d1ff;
    --token-button-default-borderHover: #2e3b47;
    --token-button-default-height: 36px;
    --token-button-default-heightSmall: 24px;
    --token-button-default-heightLarge: 48px;
    --token-button-default-text: #89d1ff;
    --token-button-default-textActive: #89d1ff;
    --token-button-highlight-background: #0070f2;
    --token-button-highlight-backgroundActive: #1d232a;
    --token-button-highlight-backgroundActiveHover: #0040b0;
    --token-button-highlight-backgroundHover: #0057d2;
    --token-button-highlight-border: transparent;
    --token-button-highlight-borderActive: #89d1ff;
    --token-button-highlight-borderHover: transparent;
    --token-button-highlight-text: #ffffff;
    --token-button-highlight-textActive: #89d1ff;
    --token-button-success-background: #164323;
    --token-button-success-backgroundActive: #1d232a;
    --token-button-success-backgroundActiveHover: #1e592f;
    --token-button-success-backgroundHover: #1e592f;
    --token-button-success-border: #256f3a;
    --token-button-success-borderActive: #36a41d;
    --token-button-success-borderHover: #256f3a;
    --token-button-success-text: #36a41d;
    --token-button-success-textActive: #36a41d;
    --token-button-warning-background: #382700;
    --token-button-warning-backgroundActive: #1d232a;
    --token-button-warning-backgroundActiveHover: #523900;
    --token-button-warning-backgroundHover: #523900;
    --token-button-warning-border: #644b00;
    --token-button-warning-borderActive: #cc8800;
    --token-button-warning-borderHover: #644b00;
    --token-button-warning-text: #cc8800;
    --token-button-warning-textActive: #cc8800;
    --token-button-error-background: #5a0404;
    --token-button-error-backgroundActive: #1d232a;
    --token-button-error-backgroundActiveHover: #840606;
    --token-button-error-backgroundHover: #840606;
    --token-button-error-border: #aa0808;
    --token-button-error-borderActive: #ee3939;
    --token-button-error-borderHover: #aa0808;
    --token-button-error-text: #ff8cb2;
    --token-button-error-textActive: #ff8cb2;
    --token-button-overlay-background: transparent;
    --token-button-overlay-backgroundActive: transparent;
    --token-button-overlay-backgroundActiveHover: #ffffff33;
    --token-button-overlay-backgroundHover: #ffffff33;
    --token-button-overlay-border: transparent;
    --token-button-overlay-borderHover: #ffffff66;
    --token-button-overlay-borderActive: #ffffff;
    --token-button-overlay-text: #ffffff;
    --token-button-overlay-textActive: #ffffff;
    --token-button-toolbar-background: transparent;
    --token-button-toolbar-backgroundActive: #1d232a;
    --token-button-toolbar-backgroundActiveHover: #0040b0;
    --token-button-toolbar-backgroundHover: #232b33;
    --token-button-toolbar-border: transparent;
    --token-button-toolbar-borderHover: #2e3b47;
    --token-button-toolbar-borderActive: #89d1ff;
    --token-button-toolbar-text: #89d1ff;
    --token-button-toolbar-textActive: #89d1ff;
    --token-font-default: "72", "Helvetica", "Arial", sans-serif;
    --token-font-monospace: "72 Mono", monospace;
    --token-icon-default-fontFamily: EDS Horizon Icons;
    --token-icon-default-size: 24px;
    --token-icon-default-sizeLarge: 48px;
    --token-icon-default-sizeSmall: 16px;
    --token-icon-default-text: #eaecee;
    --token-input-default-background: #1d232a;
    --token-input-default-backgroundActive: #1d232a;
    --token-input-default-backgroundHover: #1d232a;
    --token-input-default-backgroundReadOnly: #232b33;
    --token-input-default-border: #2e3b47;
    --token-input-default-borderActive: #89d1ff;
    --token-input-default-borderHover: #0040b0;
    --token-input-default-height: 36px;
    --token-input-default-text: #eaecee;
    --token-input-default-underline: #5b738b;
    --token-input-default-underlineHover: #89d1ff;
    --token-input-error-background: #5a0404;
    --token-input-error-backgroundActive: #1d232a;
    --token-input-error-backgroundHover: #1d232a;
    --token-input-error-backgroundReadOnly: #232b33;
    --token-input-error-border: #aa0808;
    --token-input-error-borderActive: #ee3939;
    --token-input-error-borderHover: #aa0808;
    --token-input-error-text: #eaecee;
    --token-input-error-underline: #ee3939;
    --token-input-error-underlineHover: #ee3939;
    --token-input-warning-background: #382700;
    --token-input-warning-backgroundActive: #1d232a;
    --token-input-warning-backgroundHover: #1d232a;
    --token-input-warning-backgroundReadOnly: #232b33;
    --token-input-warning-border: #644b00;
    --token-input-warning-borderActive: #cc8800;
    --token-input-warning-borderHover: #644b00;
    --token-input-warning-text: #eaecee;
    --token-input-warning-underline: #cc8800;
    --token-input-warning-underlineHover: #cc8800;
    --token-input-success-background: #164323;
    --token-input-success-backgroundActive: #1d232a;
    --token-input-success-backgroundHover: #1d232a;
    --token-input-success-backgroundReadOnly: #232b33;
    --token-input-success-border: #256f3a;
    --token-input-success-borderActive: #36a41d;
    --token-input-success-borderHover: #256f3a;
    --token-input-success-text: #eaecee;
    --token-input-success-underline: #36a41d;
    --token-input-success-underlineHover: #36a41d;
    --token-input-info-background: #002a86;
    --token-input-info-backgroundActive: #1d232a;
    --token-input-info-backgroundHover: #1d232a;
    --token-input-info-backgroundReadOnly: #232b33;
    --token-input-info-border: #0057d2;
    --token-input-info-borderActive: #1b90ff;
    --token-input-info-borderHover: #0057d2;
    --token-input-info-text: #eaecee;
    --token-input-info-underline: #1b90ff;
    --token-input-info-underlineHover: #1b90ff;
    --token-label-default-background: #232b33;
    --token-label-default-backgroundHover: #5b738b;
    --token-label-default-border: #5b738b;
    --token-label-default-text: #eaecee;
    --token-label-highlight-background: #0070f2;
    --token-label-highlight-backgroundHover: #0040b0;
    --token-label-highlight-border: #0070f2;
    --token-label-highlight-text: #eaecee;
    --token-label-error-background: #d20a0a;
    --token-label-error-backgroundHover: #840606;
    --token-label-error-border: #d20a0a;
    --token-label-error-text: #eaecee;
    --token-label-warning-background: #855c00;
    --token-label-warning-backgroundHover: #523900;
    --token-label-warning-border: #855c00;
    --token-label-warning-text: #eaecee;
    --token-label-success-background: #188918;
    --token-label-success-backgroundHover: #1e592f;
    --token-label-success-border: #188918;
    --token-label-success-text: #eaecee;
    --token-label-defaultFaint-background: #12171c;
    --token-label-defaultFaint-backgroundHover: #232b33;
    --token-label-defaultFaint-border: #2e3b47;
    --token-label-defaultFaint-text: #eaecee;
    --token-label-highlightFaint-background: #002a86;
    --token-label-highlightFaint-backgroundHover: #0057d2;
    --token-label-highlightFaint-border: #0057d2;
    --token-label-highlightFaint-text: #89d1ff;
    --token-label-errorFaint-background: #5a0404;
    --token-label-errorFaint-backgroundHover: #aa0808;
    --token-label-errorFaint-border: #aa0808;
    --token-label-errorFaint-text: #ff8cb2;
    --token-label-warningFaint-background: #382700;
    --token-label-warningFaint-backgroundHover: #644b00;
    --token-label-warningFaint-border: #644b00;
    --token-label-warningFaint-text: #f7bf00;
    --token-label-successFaint-background: #164323;
    --token-label-successFaint-backgroundHover: #256f3a;
    --token-label-successFaint-border: #256f3a;
    --token-label-successFaint-text: #97dd40;
    --token-link-default-text: #89d1ff;
    --token-link-default-textActive: #0057d2;
    --token-link-default-textHover: #a6dfff;
    --token-link-visited-text: #89d1ff;
    --token-link-visited-textActive: #0057d2;
    --token-link-visited-textHover: #a6dfff;
    --token-login-background: color-mix(in srgb, #000000 30%, transparent);
    --token-login-text: #000000;
    --token-login-backgroundDark: color-mix(in srgb, #b8c1c9 30%, transparent);
    --token-navigation-background: #1d232a;
    --token-navigation-border: #2e3b47;
    --token-navigation-text: #eaecee;
    --token-navigationItem-default-background: #1d232a;
    --token-navigationItem-default-backgroundHover: #232b33;
    --token-navigationItem-default-backgroundActive: #002a86;
    --token-navigationItem-default-backgroundActiveHover: #0040b0;
    --token-navigationItem-default-marker: #1d232a;
    --token-navigationItem-default-text: #eaecee;
    --token-navigationItem-selected-background: #1d232a;
    --token-navigationItem-selected-backgroundHover: #232b33;
    --token-navigationItem-selected-backgroundActive: #002a86;
    --token-navigationItem-selected-backgroundActiveHover: #0040b0;
    --token-navigationItem-selected-marker: #89d1ff;
    --token-navigationItem-selected-text: #89d1ff;
    --token-progressBar-default-background: #232b33;
    --token-progressBar-default-bar: #5b738b;
    --token-progressBar-inverse-background: #000000;
    --token-progressBar-inverse-text: #000000;
    --token-progressBar-notification-background: #12171c;
    --token-progressBar-notification-bar: #89d1ff;
    --token-progressBar-error-background: #840606;
    --token-progressBar-error-bar: #ee3939;
    --token-progressBar-warning-background: #523900;
    --token-progressBar-warning-bar: #cc8800;
    --token-progressBar-success-background: #1e592f;
    --token-progressBar-success-bar: #36a41d;
    --token-progressBar-info-background: #0057d2;
    --token-progressBar-info-bar: #89d1ff;
    --token-radio-default-background: #2e3b47;
    --token-radio-default-backgroundHover: #1d232a;
    --token-radio-default-border: #5b738b;
    --token-radio-default-borderFocus: #89d1ff;
    --token-radio-default-colorFocus: #89d1ff;
    --token-radio-default-marker: #89d1ff;
    --token-radio-default-text: #eaecee;
    --token-radio-error-background: #840606;
    --token-radio-error-backgroundHover: #1d232a;
    --token-radio-error-border: #ee3939;
    --token-radio-error-borderFocus: #ff8cb2;
    --token-radio-error-colorFocus: #ff8cb2;
    --token-radio-error-marker: #ff8cb2;
    --token-radio-error-text: #ff8cb2;
    --token-radio-info-background: #0040b0;
    --token-radio-info-backgroundHover: #1d232a;
    --token-radio-info-border: #89d1ff;
    --token-radio-info-borderFocus: #89d1ff;
    --token-radio-info-colorFocus: #89d1ff;
    --token-radio-info-marker: #89d1ff;
    --token-radio-info-text: #89d1ff;
    --token-radio-success-background: #1e592f;
    --token-radio-success-backgroundHover: #1d232a;
    --token-radio-success-border: #36a41d;
    --token-radio-success-borderFocus: #36a41d;
    --token-radio-success-colorFocus: #36a41d;
    --token-radio-success-marker: #36a41d;
    --token-radio-success-text: #36a41d;
    --token-radio-warning-background: #523900;
    --token-radio-warning-backgroundHover: #1d232a;
    --token-radio-warning-border: #cc8800;
    --token-radio-warning-borderFocus: #cc8800;
    --token-radio-warning-colorFocus: #cc8800;
    --token-radio-warning-marker: #cc8800;
    --token-radio-warning-text: #cc8800;
    --token-ruleBuilder-variant1-autoLabel: #232b33;
    --token-ruleBuilder-variant1-background: #232b33;
    --token-ruleBuilder-variant1-backgroundHover: #2e3b47;
    --token-ruleBuilder-variant1-border: #2e3b47;
    --token-ruleBuilder-variant1-buttonFocus: #232b33;
    --token-ruleBuilder-variant1-buttonHover: #2e3b47;
    --token-ruleBuilder-variant1-buttonTextHover: #a9b4be;
    --token-ruleBuilder-variant1-text: #5b738b;
    --token-ruleBuilder-variant2-autoLabel: #0057d2;
    --token-ruleBuilder-variant2-background: #002a86;
    --token-ruleBuilder-variant2-backgroundHover: #0040b0;
    --token-ruleBuilder-variant2-border: #0070f2;
    --token-ruleBuilder-variant2-buttonFocus: #0057d2;
    --token-ruleBuilder-variant2-buttonHover: #0070f2;
    --token-ruleBuilder-variant2-buttonTextHover: #a6dfff;
    --token-ruleBuilder-variant2-text: #1b90ff;
    --token-ruleBuilder-variant3-autoLabel: #470ced;
    --token-ruleBuilder-variant3-background: #1c0c6e;
    --token-ruleBuilder-variant3-backgroundHover: #2c13ad;
    --token-ruleBuilder-variant3-border: #5d36ff;
    --token-ruleBuilder-variant3-buttonFocus: #470ced;
    --token-ruleBuilder-variant3-buttonHover: #5d36ff;
    --token-ruleBuilder-variant3-buttonTextHover: #d3b6ff;
    --token-ruleBuilder-variant3-text: #7858ff;
    --token-ruleBuilder-wrapper-backgroundHover: #232b33;
    --token-separator-text: #5b738b;
    --token-separator-line: #232b33;
    --token-shellbar-actionBackground: #1d232a;
    --token-shellbar-actionBackgroundHover: #232b33;
    --token-shellbar-actionText: #eaecee;
    --token-shellbar-background: #1d232a;
    --token-shellbar-text: #eaecee;
    --token-slider-background: #232b33;
    --token-slider-bar: #89d1ff;
    --token-slider-marker: #5b738b;
    --token-slider-step: #232b33;
    --token-slider-text: #8396a8;
    --token-slider-handleActive: #89d1ff;
    --token-slider-handleBackground: #1d232a;
    --token-slider-bubble: #89d1ff;
    --token-slider-bubbleText: #ffffff;
    --token-switch-off-background: #5b738b;
    --token-switch-off-backgroundHover: #8396a8;
    --token-switch-off-toggleText: #eaecee;
    --token-switch-off-toggleBackground: #1d232a;
    --token-switch-off-toggleBorder: #5b738b;
    --token-switch-off-toggleBorderHover: color-mix(in srgb, #12171c 50%, transparent);
    --token-switch-on-background: #1b90ff;
    --token-switch-on-backgroundHover: #89d1ff;
    --token-switch-on-toggleText: #89d1ff;
    --token-switch-on-toggleBackground: #1d232a;
    --token-switch-on-toggleBorder: #1b90ff;
    --token-switch-on-toggleBorderHover: color-mix(in srgb, #12171c 50%, transparent);
    --token-tab-default-background: #1d232a;
    --token-tab-default-backgroundHover: #232b33;
    --token-tab-default-marker: #1d232a;
    --token-tab-default-text: #eaecee;
    --token-tab-selected-background: #1d232a;
    --token-tab-selected-backgroundHover: #1d232a;
    --token-tab-selected-marker: #89d1ff;
    --token-tab-selected-text: #89d1ff;
    --token-tableCell-default-background: #1d232a;
    --token-tableCell-default-backgroundActive: #232b33;
    --token-tableCell-default-backgroundActiveHover: #2e3b47;
    --token-tableCell-default-backgroundHover: #232b33;
    --token-tableCell-default-border: #2e3b47;
    --token-tableCell-selected-background: #002a86;
    --token-tableCell-selected-backgroundActive: #002a86;
    --token-tableCell-selected-backgroundActiveHover: #0040b0;
    --token-tableCell-selected-backgroundHover: #0040b0;
    --token-tableCell-selected-border: #89d1ff;
    --token-tableCell-alternate-background: #232b33;
    --token-tableCell-alternate-backgroundActive: #232b33;
    --token-tableCell-alternate-backgroundActiveHover: #232b33;
    --token-tableCell-alternate-backgroundHover: #232b33;
    --token-tableCell-alternate-border: #2e3b47;
    --token-badge-background: #ffb2d2;
    --token-badge-text: #1d232a;
    --token-badge-borderColor: #1d232a;
}